/*
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE 
DESIGNED & DEVELOPED by FREEHTML5.CO

//////////////////////////////////////////////////////
*/
@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "raleway", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #2e2e2e;
  font-weight: 300;
  letter-spacing: .05em;
  border: 2px solid #f4af4b;
  margin: 25px;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  body {
    border: none;
  }
}

::-webkit-selection {
  color: #ffffff;
  background: #f4af4b

;
}

::-moz-selection {
  color: #ffffff;
  background: #f4af4b

;
}

::selection {
  color: #ffffff;
  background: #f4af4b

;
}

a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

figure.fh5co-with-caption {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
figure.fh5co-with-caption img {
  margin-bottom: 0 !important;
}
figure.fh5co-with-caption figcaption {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 20px;
  color: #7b7b7b;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "raleway", sans-serif;
  font-weight: 400;
}

h1, .h1 {
  font-size: 30px;
  line-height: 42px;
}

h2, .h2 {
  font-size: 26px;
  line-height: 38px;
}

h3, .h3 {
  font-size: 20px;
  line-height: 32px;
}

h4, .h4 {
  font-size: 16px;
  line-height: 28px;
}

h5, .h5 {
  font-size: 14px;
  line-height: 24px;
}

h6, .h6 {
  font-size: 12px;
  line-height: 24px;
}

ul, ol {
  padding-left: 15px;
  line-height: 26px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

/* p, img {
  margin: 0 0 20px 0;
} */

img {
  border: 2px solid #f4af4b;
}

ul, ol {
  padding-left: 15px;
  line-height: 24px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}


#header {
  margin-top: 1em;
  padding: 1em 1em;
}

#header .header-widget {
  float: left;
  width: 33.33%;
}

@media screen and (max-width: 768px) {
  #header {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
#header #logo {
  margin-bottom: .7em;
}

#logo {
  margin-left: 0px !important;
}

.logo-img {
  display: inline !important;
  border: none;
}

.logo-img:hover {
  position:relative;
  width:325px;
  height:auto;
  display:block;
  z-index:999;
}

#header .header-info {
  float: right;
  text-align: right;
}

.header-info li {
  list-style: none;
}
.header-info a:hover,
.page-title a:hover {
  color: rgb(244,175,75);
}

.mfp-zoom-out-cur img {
  border: none !important;
}

@media screen and (max-width: 768px) {
  #header .header-widget .header-info {
    max-width: 100%;
    padding-top: 0;
    font-size: 10px;
  }

@media screen and (max-width: 480px){
  #header .header-widget {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #header .header-widget .header-info ul{
    font-size: 14px;
    text-align: center;
    line-height: normal;
  }
}


}
#header #main-nav {
  display: block;
  padding: 5px 0;
  /* float: left; */
  margin-bottom: 1em;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #header #main-nav {
    display: none;
  }
}
#header #nav {
  text-align: center;
}
#header #nav li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding-right: 20px;
}
#header #nav li a {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  padding: 4px 10px;
}
#header #nav li a:hover {
  color: #f4af4b;
  background: none;
  font-size: 18px;
}

#header #nav li::after {
  position: absolute;
  right: 2px;
  top: 50%;
  content: '';
  height: 1px;
  width: 15px;
  background: #f4af4b;
}

#header #nav li:last-child::after {

  width: 0;
  height: 0;
  background: none;
  content: '';
}
#header #nav li.active a {
  color: #f4af4b

;
}
@media screen and (max-width: 768px) {
  #header #nav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #header #nav ul {
    padding: 0;
    margin: 0;
  }
  #header #nav li {
    display: block;
    margin-bottom: 10px;
    padding: 0 !important;
    margin-left: -50px;
    opacity: 0;
  }
  #header #nav li::after {
    background: transparent;
    width: 0;
    height: 0;
    background: none;
    content: '';
  }
  #header #nav li a {
    z-index: 25 !important;
    display: block;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.section-title .title,
.page-title .title {
  color: black;
  font-family: "playfair display", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #2e2e2e;
  font-size: 30px;
  line-height: 40px;
  display: inline-block;
}
.section-title .title-sub,
.page-title .title-sub {
  font-size: 20px;
  font-weight: 300 !important;
  line-height: 30px;
  color: #7b7b7b;
}

.page-title .title-sub img {
  padding: 15px;
}

#cafe .title-sub {
  font-size: 20px;
  line-height: 110%;
}

.page-header { 
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/images/storefront.jpg);
  position: relative;
  /* background-position: center; */
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0px;
  box-shadow: 0 0 8px 8px white inset;
}

@media screen and (max-width: 768px) {
  .page-header {
    background-position: center;
  }
}

.page-caption { 
  padding-top: 170px; 
  padding-bottom: 174px; 
}
.page-title { 
  font-size: 46px; 
  line-height: 1; 
  color: #fff; 
  font-weight: 600; 
  text-align: center; 
}

.card-section {
   position: relative; 
   bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 10px; }



#footer {
  padding: 1em 1em;
}
#footer li, a {
  color: #666666;
  border-bottom: 1px solid transparent;
}
#footer .btn {
  color: black;
}
#footer .btn:hover{
  color: white;
  background-color: rgba(244,175,75, 0.5);
}
#footer a:hover, #footer a:active, #footer a:focus {
  outline: none;
  color: #2e2e2e;
  border-bottom: 1px solid #f4af4b;
}
#footer ul {
  padding: 0;
  margin: 0;
}
#footer ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
}

#footer .footer-widget {
  margin-bottom: 10px;
  float: left;
  width: 33.33%;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

.hours li {
  line-height: 10px;
  font-size: small;
}

.insta {
  padding: 10px 100px;
}



@media screen and (max-width: 480px) {
  #footer .footer-widget {
    margin-bottom: 30px;
  }
  #footer .footer-widget {
    width: 100%;
  }
  .center {
    padding-top : 0px;
    text-align: right;
  }
  .insta {
    display: none;
  }
  .footer-logo {
    display: none !important;
  }
}


.social {
  padding: 0;
  margin: 3em 0 0 0;
}
@media screen and (max-width: 768px) {
  .social {
    float: none;
  }
}
.social li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social a {
  font-size: 18px;
  border-bottom: none !important;
  margin: 0 10px;
}
.social a i {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #2e2e2e;
}
.social a:hover, .social a:active, .social a:focus {
  border-bottom: none !important;
}
.social a:hover i, .social a:active i, .social a:focus i {
  color: #f4af4b

;
}
#footer .copyright {
  float: right;
  font-size: 13px;
  color: #7b7b7b;
}

.nav-toggle {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.nav-toggle.active i::before, .nav-toggle.active i::after {
  background: #2e2e2e;
}
.nav-toggle.active {
  margin-top: 50px;
}
.nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 3px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.nav-toggle i::before, .nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.nav-toggle.nav-white > i {
  color: #ffffff;
  background: #ffffff;
}
.nav-toggle.nav-white > i::before, .nav-toggle.nav-white > i::after {
  background: #ffffff;
}

.nav-toggle i::before {
  top: -7px;
}

.nav-toggle i::after {
  bottom: -7px;
}

.nav-toggle:hover i::before {
  top: -10px;
}

.nav-toggle:hover i::after {
  bottom: -10px;
}

.nav-toggle.active i {
  background: transparent;
}

.nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.nav-toggle {
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 21;
  display: block;
  margin: 0 auto;
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}




/* Buttons */
.btn {
  font-family: "playfair display", sans-serif;
  /* border-bottom: none !important; */
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
  outline: none !important;
  border-color: transparent;
}
/* .btn.fh5co-btn-icon {
  text-transform: none !important;
  letter-spacing: normal !important;
  padding-left: 15px;
  padding-right: 15px;
} */
.btn.btn-lg {
  padding: 30px;
}
.btn.btn-md {
  padding: 15px;
}
.btn.btn-sm {
  padding: 12px;
}
.btn.btn-xs {
  padding: 10px;
}

.btn-outline {
  border: 2px solid #eaeaea !important;
  background: transparent;
  color: #2a2e37;
}
.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
  border: 2px solid #282e3c !important;
  background: #282e3c;
  color: #ffffff;
}

.btn-primary {
  background: #f4af4b;
  border: 2px solid #f4af4b;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: rgb(244,175,75);
  background: white;
  border: 2px solid #f4af4b;
}

.btn-success {
  background: #00e195;
  border: 2px solid #00e195;
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
  background: #00bd7d;
}

.btn-danger {
  background: #e02745;
  border: 2px solid #e02745;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  background: #c71d38;
}

.btn-info {
  background: #0bbff2;
  border: 2px solid #0bbff2;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
  background: #09a4d0;
}

.btn-warning {
  background: #ffd042;
  border: 2px solid #ffd042;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  background: #ffc71e;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
}

.form-control {
  box-shadow: none !important;
  border: 2px solid #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active {
  outline: none;
  box-shadow: none !important;
  border: 2px solid #f4af4b

;
}

.spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.spacer-xlg {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .spacer-xlg {
    height: 80px;
  }
}

.spacer-lg {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .spacer-lg {
    height: 70px;
  }
}

.spacer-md {
  height: 80px;
}
@media screen and (max-width: 768px) {
  .spacer-md {
    height: 50px;
  }
}

.spacer-sm {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .spacer-sm {
    height: 20px;
  }
}

.spacer-xs {
  height: 30px;
}
@media screen and (max-width: 768px) {
  .spacer-xs {
    height: 20px;
  }
}

.spacer-xxs {
  height: 30px;
}

.uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7b7b7b;
}
.uppercase-heading-sm.with-border {
  position: relative;
  padding-bottom: 10px;
}
.uppercase-heading-sm.with-border .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #f4af4b

;
}

.form-group {
  margin-bottom: 20px;
}

.image-popup:hover {
  opacity: .7;
}


/* Call to Action Button */

.call-to-action {
  /* background-color: #f4af4b */
  background: #F4AF4B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(255,210,0, 0.5), rgba(247,151,30,0.5));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(255,210,0, 0.5), rgba(247,151,30,0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.call-to-action .call-to-action-text {
  font-size: 50px;
  line-height: 60px;
  font-family: "playfair display", sans-serif;
  text-transform: uppercase;
}
.call-to-action .btn {
  margin-bottom: 0 !important;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  font-weight: bold;
  border: 2px solid black !important;
}

.call-to-action .btn:hover {
  font-size: medium;
  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


/* .call-to-action > .fh5co-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
} */
.call-to-action .call-to-action-wrap {
  position: relative;
  padding: 50px 0;
  display: table;
  width: 100%;
}
.call-to-action .call-to-action-wrap .call-to-action-inner {
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  width: 100%;
}


/* Image Grid */
div#masonry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column; 
      -ms-flex-direction: column; 
          flex-direction: column; 
  -webkit-flex-wrap: wrap; 
      -ms-flex-wrap: wrap; 
          flex-wrap: wrap;
  height: 100vw;
}
div#masonry img {
  width: 33.4%;
  -webkit-transition: .5s opacity;
          transition: .5s opacity;
}

div#masonry:hover img {opacity: 0.3;}
div#masonry:hover img:hover {opacity:1}


/* Go to the top button */

.gotop {
  position: fixed;
  bottom: 45px;
  right: 45px;
  display: none;
  color: #ffffff !important;
  background: rgba(244,175,75, 0.5);
  padding: 10px;
  border-radius: 6px;
  z-index: 18;
}

.gotop:hover{
  background: rgba(244,175,75, 1);
}

.gotop > i {
  position: relative;
  display: block;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Easy Rsponsive Tabs */
.tab {
  clear: both;
  display: block;
}

.resp-tab-active {
  color: #f4af4b;
}

.resp-tabs-list li, .product-list li {
  font-family: "raleway", sans-serif;
  list-style: none;
}

.product-list li a {
  color: #8A8531;
}

.product-list li a:hover {
  font-weight: 700;
  color:  	#f4af4b;
}

.resp-content-active, .resp-accordion-active {
  display: block;
}

.tab-menu-icon {
  font-size: 20px;
  position: relative;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .tab-menu-icon {
    margin-top: 7px;
  }
}

/* Map */

#map img {
  border: none;
}

#map {
  height: 400px;
  width: 75%;
 }
  @media (max-width: 991.98px) {
    #map {
      width: 100%;
      height: 400px;
      /* display: block;
      margin-left: auto;
      margin-right: auto; */
    }
  }

.product-list li {
  list-style-type: none;
}

/* colcade grid */

.grid {
  display: flex;
}

.grid-col {
  flex: 1;
}

.grid-item {
  padding: .1em;
}

.grid-item p {
  margin: 0;
}

@media (max-width: 480px) {
  .grid-col--2 {
    display: none;
  }
}



/* cafe carousel */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.carousel-inner .item img {
  width: 100%;
}
